<p>
  <strong><%= comment.name %>:</strong>
  <%= comment.content %>
  <%= link_to 'Delete', [comment.blog, comment],
              method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
</p>
